body{
    background-color: #b5c7ff;
}

footer{
	margin-top: 20px;
	padding-top: 20px;
}
.bg__card__navbar{
	background-color: #000000;
}
.bg__card__footer{
	background-color: #000000 !important;
}
#add__new__list{
    top: -38px;
    right: 0px;
}

#form-card {
  margin-top: 50px;
  padding: 20px;
}

#chabotAvatar {
  margin-right: 15px;
  border-radius: 50%;
  align-self: center;
}

.nav.navbar-brand a {
  color: #4169e1;
}

#statistics-card {
  margin-top: 30px;
}
